<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.zl.weilu.recyclerview"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.zl.weilu.recyclerview.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <activity
            android:label="SortedListActivity"
            android:name="com.zl.weilu.recyclerview.sort.SortedListActivity"/>

        <activity
            android:label="DiffUtilActivity"
            android:name="com.zl.weilu.recyclerview.diffutil.DiffUtilActivity"/>

        <activity
            android:label="AsyncListDifferActivity"
            android:name="com.zl.weilu.recyclerview.asynclistdiffer.AsyncListDifferActivity"/>

        <activity
            android:label="ListAdapterActivity"
            android:name="com.zl.weilu.recyclerview.listadapter.ListAdapterActivity"/>

        <activity
            android:label="SnapHelperActivity"
            android:name="com.zl.weilu.recyclerview.snaphelper.SnapHelperActivity"/>

        <activity
            android:label="AsyncListUtilActivity"
            android:name="com.zl.weilu.recyclerview.asynclistutil.AsyncListUtilActivity"/>

        <activity
            android:label="PrecomputedTextActivity"
            android:name="com.zl.weilu.recyclerview.precomputed.PrecomputedTextActivity"/>
    </application>

</manifest>